<a href="https://colab.research.google.com/github/Sateesh110/Rep_ML/blob/master/zFE_Date_Transformations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Packages

In [66]:
import pandas as pd
import numpy as np

#Get Data

In [70]:
# create a series with the ranges
#T-Time frequency, D-Day, M-Month, Y-Year
y = pd.date_range('01.01.2021', periods=12, freq='Y')
print(y)

m = pd.date_range('01.01.2021', periods=12, freq='M')
t = pd.date_range('01.01.2021', periods=12, freq='T')
d = pd.date_range('01.01.2021', periods=12, freq='D')
q = pd.date_range('01.01.2021', periods=12, freq='Q')

DatetimeIndex(['2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31', '2031-12-31', '2032-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [88]:
df1 = pd.DataFrame({"zDate":y})
df2 = pd.DataFrame({"zDate":m})
df3 = pd.DataFrame({"zDate":t})
df4 = pd.DataFrame({"zDate":d})
df5 = pd.DataFrame({"zDate":q})
lst = [df1,df2,df3,df4,df5]
df = pd.concat(lst)
print(f'# of records :{len(df)}')
print(df.head(3))

# of records :60
       zDate
0 2021-12-31
1 2022-12-31
2 2023-12-31

In [89]:
# attributes & data types
df.dtypes

zDate    datetime64[ns]
dtype: object

#Date Transformations

##Get Date

In [90]:
df['date_part'] = df['zDate'].dt.date
df.head(2)

       zDate   date_part
0 2021-12-31  2021-12-31
1 2022-12-31  2022-12-31

##Get Day|Month|Year|Quarter|Week|Semister

In [91]:
df["day"]=df['zDate'].dt.day
df["week"]=df['zDate'].dt.weekofyear
df["month"]=df['zDate'].dt.month
df["quarter"]=df['zDate'].dt.quarter
df["year"]=df['zDate'].dt.year
df["time"]=df['zDate'].dt.time
df['day_week'] = df['zDate'].dt.dayofweek
#df['day_week_name'] = df['zDate'].dt.day_week_name
df.head(3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

       zDate   date_part  day  week  month  quarter  year      time  day_week
0 2021-12-31  2021-12-31   31    52     12        4  2021  00:00:00         4
1 2022-12-31  2022-12-31   31    52     12        4  2022  00:00:00         5
2 2023-12-31  2023-12-31   31    52     12        4  2023  00:00:00         6

In [92]:
# extract semester
df['semester'] = np.where(df['quarter'].isin([1,2]), 1,2)

df.head(3)

       zDate   date_part  day  week  ...  year      time  day_week semester
0 2021-12-31  2021-12-31   31    52  ...  2021  00:00:00         4        2
1 2022-12-31  2022-12-31   31    52  ...  2022  00:00:00         5        2
2 2023-12-31  2023-12-31   31    52  ...  2023  00:00:00         6        2

[3 rows x 10 columns]

##Convert to Datetime column

In [93]:
df2 = pd.DataFrame({"zDate2":["Jan-2021","Feb-2021","Mar-2021","Apr-2021","May-2021","Jun-2021"]})

# Convert colume to datetime column
df["zDate_New"] = pd.to_datetime(df2["zDate2"])
df.head(3)

       zDate   date_part  day  week  ...      time  day_week  semester  zDate_New
0 2021-12-31  2021-12-31   31    52  ...  00:00:00         4         2 2021-01-01
1 2022-12-31  2022-12-31   31    52  ...  00:00:00         5         2 2021-02-01
2 2023-12-31  2023-12-31   31    52  ...  00:00:00         6         2 2021-03-01

[3 rows x 11 columns]

In [94]:
df.dtypes

zDate        datetime64[ns]
date_part            object
day                   int64
week                  int64
month                 int64
quarter               int64
year                  int64
time                 object
day_week              int64
semester              int64
zDate_New    datetime64[ns]
dtype: object

##Weekend or not?

In [95]:
# is it weekend?
# df['is_weekend'] = np.where(df['day_week_name'].isin(['Sunday', 'Saturday']), 1,0)

df['is_weekend'] = np.where(df['day_week'].isin([6, 0]), 1,0)
df.head()

       zDate   date_part  day  week  ...  day_week  semester  zDate_New is_weekend
0 2021-12-31  2021-12-31   31    52  ...         4         2 2021-01-01          0
1 2022-12-31  2022-12-31   31    52  ...         5         2 2021-02-01          0
2 2023-12-31  2023-12-31   31    52  ...         6         2 2021-03-01          1
3 2024-12-31  2024-12-31   31     1  ...         1         2 2021-04-01          0
4 2025-12-31  2025-12-31   31     1  ...         2         2 2021-05-01          0

[5 rows x 12 columns]