<a href="https://colab.research.google.com/github/Sateesh110/Rep_ML/blob/master/zFE_Date_Transformations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Packages

In [1]:
import pandas as pd
import numpy as np
import datetime
import calendar as c
import time
from datetime import*

#Get Data

In [2]:
# create a series with the ranges
#T-Time frequency, D-Day, M-Month, Y-Year
y = pd.date_range('01.01.2021', periods=12, freq='Y')
print(y)

m = pd.date_range('01.01.2021', periods=12, freq='M')
t = pd.date_range('01.01.2021', periods=12, freq='T')
d = pd.date_range('01.01.2021', periods=12, freq='D')
q = pd.date_range('01.01.2021', periods=12, freq='Q')

DatetimeIndex(['2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31', '2031-12-31', '2032-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [4]:
df1 = pd.DataFrame({"zDate":y})
df2 = pd.DataFrame({"zDate":m})
df3 = pd.DataFrame({"zDate":t})
df4 = pd.DataFrame({"zDate":d})
df5 = pd.DataFrame({"zDate":q})
lst = [df1,df2,df3,df4,df5]
df = pd.concat(lst)
print(f'# of records :{len(df)}')
print(df.head(3))

# of records :60
       zDate
0 2021-12-31
1 2022-12-31
2 2023-12-31

In [5]:
# attributes & data types
df.dtypes

zDate    datetime64[ns]
dtype: object

#Date Transformations

##Get Date

In [6]:
df['date_part'] = df['zDate'].dt.date
df.head(2)

       zDate   date_part
0 2021-12-31  2021-12-31
1 2022-12-31  2022-12-31

##Extract Day|Month|Year|Quarter|Week|Semister

In [8]:
df["day"]=df['zDate'].dt.day
df["week"]=df['zDate'].dt.weekofyear
df["month"]=df['zDate'].dt.month
df["quarter"]=df['zDate'].dt.quarter
df["year"]=df['zDate'].dt.year
df["time"]=df['zDate'].dt.time
df['day_week'] = df['zDate'].dt.dayofweek
#df['day_week_name'] = df['zDate'].dt.day_week_name
df.head(3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

       zDate   date_part  day  week  month  quarter  year      time  day_week
0 2021-12-31  2021-12-31   31    52     12        4  2021  00:00:00         4
1 2022-12-31  2022-12-31   31    52     12        4  2022  00:00:00         5
2 2023-12-31  2023-12-31   31    52     12        4  2023  00:00:00         6

In [9]:
# extract semester
df['semester'] = np.where(df['quarter'].isin([1,2]), 1,2)

df.head(3)

       zDate   date_part  day  week  ...  year      time  day_week semester
0 2021-12-31  2021-12-31   31    52  ...  2021  00:00:00         4        2
1 2022-12-31  2022-12-31   31    52  ...  2022  00:00:00         5        2
2 2023-12-31  2023-12-31   31    52  ...  2023  00:00:00         6        2

[3 rows x 10 columns]

In [13]:
#Index as Year-Month
df.index = df['year'].astype(str) +"-"+df["month"].astype(str).map(lambda x: "0"+x if len(x)==1 else x)
df

                      zDate   date_part  day  ...      time  day_week  semester
2021-12 2021-12-31 00:00:00  2021-12-31   31  ...  00:00:00         4         2
2022-12 2022-12-31 00:00:00  2022-12-31   31  ...  00:00:00         5         2
2023-12 2023-12-31 00:00:00  2023-12-31   31  ...  00:00:00         6         2
2024-12 2024-12-31 00:00:00  2024-12-31   31  ...  00:00:00         1         2
2025-12 2025-12-31 00:00:00  2025-12-31   31  ...  00:00:00         2         2
2026-12 2026-12-31 00:00:00  2026-12-31   31  ...  00:00:00         3         2
2027-12 2027-12-31 00:00:00  2027-12-31   31  ...  00:00:00         4         2
2028-12 2028-12-31 00:00:00  2028-12-31   31  ...  00:00:00         6         2
2029-12 2029-12-31 00:00:00  2029-12-31   31  ...  00:00:00         0         2
2030-12 2030-12-31 00:00:00  2030-12-31   31  ...  00:00:00         1         2
2031-12 2031-12-31 00:00:00  2031-12-31   31  ...  00:00:00         2         2
2032-12 2032-12-31 00:00:00  2032-12-31   31  ...  00:00:00         4         2
2021-01 2021-01-31 00:00:00  2021-01-31   31  ...  00:00:00         6         1
2021-02 2021-02-28 00:00:00  2021-02-28   28  ...  00:00:00         6         1
2021-03 2021-03-31 00:00:00  2021-03-31   31  ...  00:00:00         2         1
2021-04 2021-04-30 00:00:00  2021-04-30   30  ...  00:00:00         4         1
2021-05 2021-05-31 00:00:00  2021-05-31   31  ...  00:00:00         0         1
2021-06 2021-06-30 00:00:00  2021-06-30   30  ...  00:00:00         2         1
2021-07 2021-07-31 00:00:00  2021-07-31   31  ...  00:00:00         5         2
2021-08 2021-08-31 00:00:00  2021-08-31   31  ...  00:00:00         1         2
2021-09 2021-09-30 00:00:00  2021-09-30   30  ...  00:00:00         3         2
2021-10 2021-10-31 00:00:00  2021-10-31   31  ...  00:00:00         6         2
2021-11 2021-11-30 00:00:00  2021-11-30   30  ...  00:00:00         1         2
2021-12 2021-12-31 00:00:00  2021-12-31   31  ...  00:00:00         4         2
2021-01 2021-01-01 00:00:00  2021-01-01    1  ...  00:00:00         4         1
2021-01 2021-01-01 00:01:00  2021-01-01    1  ...  00:01:00         4         1
2021-01 2021-01-01 00:02:00  2021-01-01    1  ...  00:02:00         4         1
2021-01 2021-01-01 00:03:00  2021-01-01    1  ...  00:03:00         4         1
2021-01 2021-01-01 00:04:00  2021-01-01    1  ...  00:04:00         4         1
2021-01 2021-01-01 00:05:00  2021-01-01    1  ...  00:05:00         4         1
2021-01 2021-01-01 00:06:00  2021-01-01    1  ...  00:06:00         4         1
2021-01 2021-01-01 00:07:00  2021-01-01    1  ...  00:07:00         4         1
2021-01 2021-01-01 00:08:00  2021-01-01    1  ...  00:08:00         4         1
2021-01 2021-01-01 00:09:00  2021-01-01    1  ...  00:09:00         4         1
2021-01 2021-01-01 00:10:00  2021-01-01    1  ...  00:10:00         4         1
2021-01 2021-01-01 00:11:00  2021-01-01    1  ...  00:11:00         4         1
2021-01 2021-01-01 00:00:00  2021-01-01    1  ...  00:00:00         4         1
2021-01 2021-01-02 00:00:00  2021-01-02    2  ...  00:00:00         5         1
2021-01 2021-01-03 00:00:00  2021-01-03    3  ...  00:00:00         6         1
2021-01 2021-01-04 00:00:00  2021-01-04    4  ...  00:00:00         0         1
2021-01 2021-01-05 00:00:00  2021-01-05    5  ...  00:00:00         1         1
2021-01 2021-01-06 00:00:00  2021-01-06    6  ...  00:00:00         2         1
2021-01 2021-01-07 00:00:00  2021-01-07    7  ...  00:00:00         3         1
2021-01 2021-01-08 00:00:00  2021-01-08    8  ...  00:00:00         4         1
2021-01 2021-01-09 00:00:00  2021-01-09    9  ...  00:00:00         5         1
2021-01 2021-01-10 00:00:00  2021-01-10   10  ...  00:00:00         6         1
2021-01 2021-01-11 00:00:00  2021-01-11   11  ...  00:00:00         0         1
2021-01 2021-01-12 00:00:00  2021-01-12   12  ...  00:00:00         1         1
2021-03 2021-03-31 00:00:00  2021-03-31   31  ...  00:00:00         2         1
2021-06 2021-06-30 00:00:00  2021-06-30   30  ...  00:00:00         2         1
2021-09 2021-09-30 00:00:00  2021-09-30   30  ...  00:00:00         3         2
2021-12 2021-12-31 00:00:00  2021-12-31   31  ...  00:00:00         4         2
2022-03 2022-03-31 00:00:00  2022-03-31   31  ...  00:00:00         3         1
2022-06 2022-06-30 00:00:00  2022-06-30   30  ...  00:00:00         3         1
2022-09 2022-09-30 00:00:00  2022-09-30   30  ...  00:00:00         4         2
2022-12 2022-12-31 00:00:00  2022-12-31   31  ...  00:00:00         5         2
2023-03 2023-03-31 00:00:00  2023-03-31   31  ...  00:00:00         4         1
2023-06 2023-06-30 00:00:00  2023-06-30   30  ...  00:00:00         4         1
2023-09 2023-09-30 00:00:00  2023-09-30   30  ...  00:00:00         5         2
2023-12 2023-12-31 00:00:00  2023-12-31   31  ...  00:00:00         6         2

[60 rows x 10 columns]

##Convert to Datetime column

In [ ]:
df2 = pd.DataFrame({"zDate2":["Jan-2021","Feb-2021","Mar-2021","Apr-2021","May-2021","Jun-2021"]})

# Convert colume to datetime column
df["zDate_New"] = pd.to_datetime(df2["zDate2"])
df.head(3)

       zDate   date_part  day  week  ...      time  day_week  semester  zDate_New
0 2021-12-31  2021-12-31   31    52  ...  00:00:00         4         2 2021-01-01
1 2022-12-31  2022-12-31   31    52  ...  00:00:00         5         2 2021-02-01
2 2023-12-31  2023-12-31   31    52  ...  00:00:00         6         2 2021-03-01

[3 rows x 11 columns]

In [ ]:
df.dtypes

zDate        datetime64[ns]
date_part            object
day                   int64
week                  int64
month                 int64
quarter               int64
year                  int64
time                 object
day_week              int64
semester              int64
zDate_New    datetime64[ns]
dtype: object

##Weekend or not?

In [ ]:
# is it weekend?
# df['is_weekend'] = np.where(df['day_week_name'].isin(['Sunday', 'Saturday']), 1,0)

df['is_weekend'] = np.where(df['day_week'].isin([6, 0]), 1,0)
df.head()

       zDate   date_part  day  week  ...  day_week  semester  zDate_New is_weekend
0 2021-12-31  2021-12-31   31    52  ...         4         2 2021-01-01          0
1 2022-12-31  2022-12-31   31    52  ...         5         2 2021-02-01          0
2 2023-12-31  2023-12-31   31    52  ...         6         2 2021-03-01          1
3 2024-12-31  2024-12-31   31     1  ...         1         2 2021-04-01          0
4 2025-12-31  2025-12-31   31     1  ...         2         2 2021-05-01          0

[5 rows x 12 columns]

##Extract Hrs|Mins|Sec

In [ ]:
rng = pd.date_range('2019-03-05', periods=20, freq='1h15min10s')
df = pd.DataFrame({'date': rng}) 
df.head()

                 date
0 2019-03-05 00:00:00
1 2019-03-05 01:15:10
2 2019-03-05 02:30:20
3 2019-03-05 03:45:30
4 2019-03-05 05:00:40

In [ ]:
# extract hr, min and sec

df['hour'] = df['date'].dt.hour
df['min'] = df['date'].dt.minute
df['sec'] = df['date'].dt.second
df.head(3)

                 date  hour  min  sec
0 2019-03-05 00:00:00     0    0    0
1 2019-03-05 01:15:10     1   15   10
2 2019-03-05 02:30:20     2   30   20

In [ ]:
# same above logic implemented using a list comperhension 

df[['h','m','s']]= pd.DataFrame([(x.hour,x.minute,x.second) for x in df['date']])
df.head()

                 date  hour  min  sec  h   m   s
0 2019-03-05 00:00:00     0    0    0  0   0   0
1 2019-03-05 01:15:10     1   15   10  1  15  10
2 2019-03-05 02:30:20     2   30   20  2  30  20
3 2019-03-05 03:45:30     3   45   30  3  45  30
4 2019-03-05 05:00:40     5    0   40  5   0  40

In [ ]:
# Unique Hrs
df['hour'].unique()

array([ 0,  1,  2,  3,  5,  6,  7,  8, 10, 11, 12, 13, 15, 16, 17, 18, 20,
       21, 22, 23])

##Morning or Evening?

In [ ]:
# is it morning?

df['is_morning'] = np.where( (df['hour'] < 7) & (df['hour'] >=0), "Early Office hrs", "No" )

df.head(3)

                 date  hour  min  sec  h   m   s        is_morning
0 2019-03-05 00:00:00     0    0    0  0   0   0  Early Office hrs
1 2019-03-05 01:15:10     1   15   10  1  15  10  Early Office hrs
2 2019-03-05 02:30:20     2   30   20  2  30  20  Early Office hrs

In [ ]:
def (df,col):
  if (df[col] < 7) & (df[col] >=0):
    df['OOH'] = "Early Office hrs"
  elif (df[col] < 18) & (df[col] >=0):
    df['OOH'] = "Late Office hrs"
  else:
    df['OOH'] = " "
 return (df)

SyntaxError: ignored

## Elapsed Days|Months|Years

In [ ]:
rng_hr = pd.date_range('2021-01-14', periods=20, freq='H')
rng_month = pd.date_range('2021-01-30', periods=20, freq='M')

df = pd.DataFrame({'date1': rng_hr, 'date2': rng_month}) 
df.head()

                date1      date2
0 2021-01-14 00:00:00 2021-01-31
1 2021-01-14 01:00:00 2021-02-28
2 2021-01-14 02:00:00 2021-03-31
3 2021-01-14 03:00:00 2021-04-30
4 2021-01-14 04:00:00 2021-05-31

In [ ]:
# let's capture the difference in days between the 2 variables

df['diff_dates'] = (df['date2'] - df['date1'])
df['elapsed_days'] = (df['date2'] - df['date1']).dt.days

df.head()

                date1      date2  elapsed_days        diff_dates
0 2021-01-14 00:00:00 2021-01-31            17  17 days 00:00:00
1 2021-01-14 01:00:00 2021-02-28            44  44 days 23:00:00
2 2021-01-14 02:00:00 2021-03-31            75  75 days 22:00:00
3 2021-01-14 03:00:00 2021-04-30           105 105 days 21:00:00
4 2021-01-14 04:00:00 2021-05-31           136 136 days 20:00:00

In [ ]:
# let's capture the difference in months between the 2 variables
df['months_passed'] = ((df['date2'] - df['date1']) / np.timedelta64(1, 'M'))
df['months_passed'] = np.round(df['months_passed'],0)

df.head()

                date1      date2  elapsed_days        diff_dates  months_passed
0 2021-01-14 00:00:00 2021-01-31            17  17 days 00:00:00            1.0
1 2021-01-14 01:00:00 2021-02-28            44  44 days 23:00:00            1.0
2 2021-01-14 02:00:00 2021-03-31            75  75 days 22:00:00            2.0
3 2021-01-14 03:00:00 2021-04-30           105 105 days 21:00:00            3.0
4 2021-01-14 04:00:00 2021-05-31           136 136 days 20:00:00            4.0

In [ ]:
# calculate difference in seconds and minutes

df['diff_seconds'] = (df['date2'] - df['date1'])/np.timedelta64(1,'s')
df['diff_minutes'] = (df['date2'] - df['date1'])/np.timedelta64(1,'m')

df.head()

                date1      date2  ...  diff_seconds diff_minutes
0 2021-01-14 00:00:00 2021-01-31  ...     1468800.0      24480.0
1 2021-01-14 01:00:00 2021-02-28  ...     3884400.0      64740.0
2 2021-01-14 02:00:00 2021-03-31  ...     6559200.0     109320.0
3 2021-01-14 03:00:00 2021-04-30  ...     9147600.0     152460.0
4 2021-01-14 04:00:00 2021-05-31  ...    11822400.0     197040.0

[5 rows x 7 columns]

In [ ]:
# calculate difference to today

df['to_today'] = (datetime.datetime.today() - df['date1'])
df.head()

                date1      date2  ...  diff_minutes               to_today
0 2021-01-14 00:00:00 2021-01-31  ...       24480.0 0 days 18:40:47.585984
1 2021-01-14 01:00:00 2021-02-28  ...       64740.0 0 days 17:40:47.585984
2 2021-01-14 02:00:00 2021-03-31  ...      109320.0 0 days 16:40:47.585984
3 2021-01-14 03:00:00 2021-04-30  ...      152460.0 0 days 15:40:47.585984
4 2021-01-14 04:00:00 2021-05-31  ...      197040.0 0 days 14:40:47.585984

[5 rows x 8 columns]

##Convert Timezones & their differences

In [ ]:
# Lets create df with some timestamps in different time zones
# variable 1

df = pd.DataFrame()

df['time1'] = pd.concat([
    pd.Series(
        pd.date_range(
            start='2015-06-10 09:00', freq='H', periods=3,
            tz='Europe/Berlin')),
    pd.Series(
        pd.date_range(
            start='2015-09-10 09:00', freq='H', periods=3, tz='US/Central'))
    ], axis=0)

df

                       time1
0  2015-06-10 09:00:00+02:00
1  2015-06-10 10:00:00+02:00
2  2015-06-10 11:00:00+02:00
0  2015-09-10 09:00:00-05:00
1  2015-09-10 10:00:00-05:00
2  2015-09-10 11:00:00-05:00

In [ ]:
df['time2'] = pd.concat([
    pd.Series(
        pd.date_range(
            start='2015-07-01 09:00', freq='H', periods=3,
            tz='Europe/Berlin')),
    pd.Series(
        pd.date_range(
            start='2015-08-01 09:00', freq='H', periods=3, tz='US/Central'))
    ], axis=0)

df

                       time1  ...                      time2
0  2015-06-10 09:00:00+02:00  ...  2015-07-01 09:00:00+02:00
1  2015-06-10 10:00:00+02:00  ...  2015-07-01 10:00:00+02:00
2  2015-06-10 11:00:00+02:00  ...  2015-07-01 11:00:00+02:00
0  2015-09-10 09:00:00-05:00  ...  2015-08-01 09:00:00-05:00
1  2015-09-10 10:00:00-05:00  ...  2015-08-01 10:00:00-05:00
2  2015-09-10 11:00:00-05:00  ...  2015-08-01 11:00:00-05:00

[6 rows x 3 columns]

In [ ]:

# Convert to UTC timezone
# setting utc = True

df['time1_utc'] = pd.to_datetime(df['time1'], utc=True)
df['time2_utc'] = pd.to_datetime(df['time2'], utc=True)

df

                       time1  ...                 time2_utc
0  2015-06-10 09:00:00+02:00  ... 2015-07-01 07:00:00+00:00
1  2015-06-10 10:00:00+02:00  ... 2015-07-01 08:00:00+00:00
2  2015-06-10 11:00:00+02:00  ... 2015-07-01 09:00:00+00:00
0  2015-09-10 09:00:00-05:00  ... 2015-08-01 14:00:00+00:00
1  2015-09-10 10:00:00-05:00  ... 2015-08-01 15:00:00+00:00
2  2015-09-10 11:00:00-05:00  ... 2015-08-01 16:00:00+00:00

[6 rows x 4 columns]

In [ ]:
# Days elapse

df['elapsed_days'] = (df['time2_utc'] - df['time1_utc']).dt.days

df['elapsed_days'].head()

0    21
1    21
2    21
0   -40
1   -40
Name: elapsed_days, dtype: int64

In [ ]:
# Convert utc to the desired timezone, eg Europe/London

df['time1_london'] = df['time1_utc'].dt.tz_convert('Europe/London')
df['time2_berlin'] = df['time1_utc'].dt.tz_convert('Europe/Berlin')

df[['time1_london', 'time2_berlin']]

               time1_london              time2_berlin
0 2015-06-10 08:00:00+01:00 2015-06-10 09:00:00+02:00
1 2015-06-10 09:00:00+01:00 2015-06-10 10:00:00+02:00
2 2015-06-10 10:00:00+01:00 2015-06-10 11:00:00+02:00
0 2015-09-10 15:00:00+01:00 2015-09-10 16:00:00+02:00
1 2015-09-10 16:00:00+01:00 2015-09-10 17:00:00+02:00
2 2015-09-10 17:00:00+01:00 2015-09-10 18:00:00+02:00

##Time

In [ ]:
epochseconds=time.time()
epochseconds

1611266550.9070437

In [ ]:
# Current time
t = time.ctime(epochseconds)
t

'Thu Jan 21 22:02:30 2021'

In [ ]:
# Current date & timestamp
import datetime
dt=datetime.datetime.today()
dt

datetime.datetime(2021, 1, 21, 22, 59, 14, 716177)

### Date

In [ ]:
print(f'Current Year :{dt.year}')
print(f'Current Month :{dt.month}')
print(f'Current Day :{dt.day}')
print(f'Current Date :{dt.year}-{dt.month}-{dt.day} ')

Current Year :2021
Current Month :1
Current Day :21
Current Date :2021-1-21

###Time

In [ ]:
print(f'Current hr :{dt.hour}')
print(f'Current Min :{dt.minute}')
print(f'Current seconds :{dt.second}')
print(f'Current time :{dt.hour}:{dt.minute}:{dt.second}')

Current hr :22
Current Min :6
Current seconds :58
Current time :22:6:58

###Combine Date & Time

In [ ]:
d = datetime(2021,1,21)
t = time(22,6)
dt = datetime.combine(d,t)
print(dt)

2021-01-21 22:06:00

### Sort dates

In [ ]:
lst = []

d1 = datetime(2019,1,21)
d2 = datetime(2020,1,21)
d3 = datetime(2021,1,21)

lst.append(d2)
lst.append(d1)
lst.append(d3)

lst.sort()
lst

[datetime.datetime(2019, 1, 21, 0, 0),
 datetime.datetime(2020, 1, 21, 0, 0),
 datetime.datetime(2021, 1, 21, 0, 0)]

###Sleep

In [ ]:
import time
time.sleep(3)

###Execution Time

In [ ]:
# Program Execution Time
startTime = time.perf_counter()

time.sleep(5)

endTime = time.perf_counter()

executiontime = (endTime - startTime )
executiontime

5.0052147510000395

###Now timestamp

In [ ]:
datetime.now()

datetime.datetime(2021, 1, 21, 22, 47, 13, 964899)

### Usage

In [ ]:
def validatecard(exp_date):
  if exp_date>datetime.now().date():
    print("Valid Card")
  else:
    print("Invalid Card")

validatecard(date(2022,1,1))

Valid Card