<a href="https://colab.research.google.com/github/Sateesh110/Rep_ML/blob/master/zFE_Date_Transformations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Packages

In [66]:
import pandas as pd
import numpy as np

#Get Data

In [35]:
# create a series with the ranges
#T-Time frequency, D-Day, M-Month, Y-Year
y = pd.date_range('01.01.2021', periods=12, freq='Y')
print(y)

m = pd.date_range('01.01.2021', periods=12, freq='M')
t = pd.date_range('01.01.2021', periods=12, freq='T')
d = pd.date_range('01.01.2021', periods=12, freq='D')
q = pd.date_range('01.01.2021', periods=12, freq='Q')

DatetimeIndex(['2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31', '2031-12-31', '2032-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [44]:
df1 = pd.DataFrame({"zDate":y})
df2 = pd.DataFrame({"zDate":m})
df3 = pd.DataFrame({"zDate":t})
df4 = pd.DataFrame({"zDate":d})
df5 = pd.DataFrame({"zDate":q})
lst = [df1,df2,df3,df4,df5]
df = pd.concat(lst)
print(f'# of records :{len(df)}')
print(df.head(3))

# of records :60
       zDate
0 2021-12-31
1 2022-12-31
2 2023-12-31

In [47]:
# attributes & data types
df.dtypes

zDate    datetime64[ns]
dtype: object

#Date Transformations

##Get Date

In [50]:
df['date_part'] = df['zDate'].dt.date
df.head(2)

       zDate   date_part
0 2021-12-31  2021-12-31
1 2022-12-31  2022-12-31

##Get Day|Month|Year|Quarter|Week|Semister

In [59]:
df["day"]=df['zDate'].dt.day
df["week"]=df['zDate'].dt.week
df["month"]=df['zDate'].dt.month
df["quarter"]=df['zDate'].dt.quarter
df["year"]=df['zDate'].dt.year
df["time"]=df['zDate'].dt.time
df.head(3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

       zDate   date_part  day  week  month  quarter  year      time
0 2021-12-31  2021-12-31   31    52     12        4  2021  00:00:00
1 2022-12-31  2022-12-31   31    52     12        4  2022  00:00:00
2 2023-12-31  2023-12-31   31    52     12        4  2023  00:00:00

In [69]:
# extract semester
df['semester'] = np.where(df['quarter'].isin([1,2]), 1,2)

df.head(3)

       zDate   date_part  day  week  ...  year      time  zDate_New semester
0 2021-12-31  2021-12-31   31    52  ...  2021  00:00:00 2021-01-01        2
1 2022-12-31  2022-12-31   31    52  ...  2022  00:00:00 2021-02-01        2
2 2023-12-31  2023-12-31   31    52  ...  2023  00:00:00 2021-03-01        2

[3 rows x 10 columns]

##Convert to Datetime column

In [63]:
df2 = pd.DataFrame({"zDate2":["Jan-2021","Feb-2021","Mar-2021","Apr-2021","May-2021","Jun-2021"]})

# Convert colume to datetime column
df["zDate_New"] = pd.to_datetime(df2["zDate2"])
df.head(3)

       zDate   date_part  day  week  month  quarter  year      time  zDate_New
0 2021-12-31  2021-12-31   31    52     12        4  2021  00:00:00 2021-01-01
1 2022-12-31  2022-12-31   31    52     12        4  2022  00:00:00 2021-02-01
2 2023-12-31  2023-12-31   31    52     12        4  2023  00:00:00 2021-03-01

In [64]:
df.dtypes

zDate        datetime64[ns]
date_part            object
day                   int64
week                  int64
month                 int64
quarter               int64
year                  int64
time                 object
zDate_New    datetime64[ns]
dtype: object